<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <!-- js顺序不能颠倒 -->
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/flat-ui.min.css"/>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/docs/assets/js/application.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script type="application/javascript" src="../js/bind.js"></script>
    <meta name="theme-color" content="#808080">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/home/<%= token %>">Notification⑨</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li class="active" ><a id="bind" href="#">添加绑定</a></li>
          <li><a href="#">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert" id="alert" hidden>
      <button type="button" class="close" aria-label="Close" onclick="$('#alert').hide();">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="message">未知错误<strong>(·8·)</strong></div>
    </div>
    <p id="token" hidden><%= token %></p>
    <ul style="list-style-type: none">
      <li>
        <p id="learn" class="lead">网络学堂</p>
        <div class="row">
          <div id="learn_status" class="col-md-2"></div>
          <button id="learn_bind" class="col-md-1"></button>
        </div>
      </li>
      <li>
        <br/><br/>
      </li>
      <li>
        <p id="github" class="lead">GitHub</p>
        <div class="row">
          <div id="github_status" class="col-md-2"></div>
          <button id="github_bind" class="col-md-1"></button>
        </div>
      </li>
      <li>
        <br/><br/>
      </li>
      <li>
        <p id="vultr" class="lead">Vultr</p>
        <div class="row">
          <div id="vultr_status" class="col-md-2"></div>
          <button id="vultr_bind" class="col-md-1" type="button"></button>
        </div>
      </li>
    </ul>
  </div>

  <!-- GitHub Modal -->
  <div class="modal fade" id="github_modal" tabindex="-1" role="dialog" aria-labelledby="githubModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">绑定GitHub</h4>
        </div>
        <div class="modal-body">
          <form>
            用户名:
            <input type="text" title="username" id="github_username"
                   class="form-control typeahead-only input-sm tt-input"/>
            密码:
            <input type="password" title="password" id="github_password"
                   class="form-control typeahead-only input-sm tt-input"/>
            Token:
            <input type="text" title="token" id="github_token"
                   class="form-control typeahead-only input-sm tt-input"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">绑定</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vultr Modal -->
  <div class="modal fade" id="vultr_modal" tabindex="-1" role="dialog" aria-labelledby="vultrModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">绑定Vultr</h4>
        </div>
        <div class="modal-body">
          <form>
            用户名:
            <input type="text" title="username" id="vultr_username"
                   class="form-control typeahead-only input-sm tt-input"/>
            密码:
            <input type="password" title="password" id="vultr_password"
                   class="form-control typeahead-only input-sm tt-input"/>
            Token:
            <input type="text" title="token" id="vultr_token"
                   class="form-control typeahead-only input-sm tt-input"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">绑定</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Learn Modal -->
  <div class="modal fade" id="learn_modal" tabindex="-1" role="dialog" aria-labelledby="learnModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">绑定网络学堂</h4>
        </div>
        <div class="modal-body">
          <form>
            用户名:
            <input type="text" title="username" id="learn_username"
                   class="form-control typeahead-only input-sm tt-input"/>
            密码:
            <input type="password" title="password" id="learn_password"
                   class="form-control typeahead-only input-sm tt-input"/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">绑定</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>