<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <!-- js顺序不能颠倒 -->
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/flat-ui.min.css"/>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/docs/assets/js/application.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script type="application/javascript" src="../js/bind.js"></script>
    <meta name="theme-color" content="#808080">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/home/<%= token %>">Notification⑨</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li class="active" ><a id="bind" href="#">添加绑定</a></li>
          <li><a href="#">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <p id="token" hidden><%= token %></p>
    <ul style="list-style-type: none">
      <li>
        <p id="learn" class="lead">网络学堂</p>
        <p id="learn_status"></p>
        <a id="learn_conduction"></a>
      </li>
      <li>
        <p id="github" class="lead">GitHub</p>
        <p id="github_status"></p>
        <a id="github_conduction"></a>
      </li>
    </ul>
  </div>
</body>
</html>