<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <!-- js顺序不能颠倒 -->
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../Flat-UI-master/dist/css/flat-ui.min.css"/>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/docs/assets/js/application.js"></script>
    <script type="application/javascript" src="../Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script type="application/javascript" src="../js/home.js"></script>
    <meta name="theme-color" content="#808080">
</head>
<body>
    <div>
        用户名:<p id="username"></p>
        用户ID:<p id="user_id"></p>
        Token:<p id="token"><%= token %></p>
    </div>

    <div>
        <ul id="notifications_list"></ul>
    </div>
</body>
</html>